<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>BlueBotPC</title>
    <meta charset="UTF-8">
    <meta name="Local Computer Repair Techs">
    <meta name="description" content="IT Support in New Salem">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description }}</p>
        <p class="view"><a href="https://bluebotpc.com">Home</a></p>
        <p class="view"><a href="https://bluebotpc.com/pages/contact">Contact</a></p>
        <p class="view"><a href="https://www.bluebotpc.com/pages/local-support/">IT Support</a></p>
        <p class="view"><a href="https://forms.gle/LBAdQnoguwRzCkNo8">Submit a Ticket</a></p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <!-- Font Awesome Icons with Links -->
        <a href="https://goo.gl/maps/tpvP1qEGxMuZzKxx5/" aria-label="Google Maps"><i class="fa-solid fa-location-dot fa-2xl"></i></a> <a href="https://www.facebook.com/BlueBotPC/" aria-label="Facebook"><i class="fa-brands fa-facebook fa-2xl"></i></a> <a href="https://www.instagram.com/bluebotpc/" aria-label="Instagram"><i class="fa-brands fa-instagram fa-2xl"></i></a> <a href="https://github.com/bluebotpc/" aria-label="GitHub"><i class="fa-brands fa-github fa-2xl"></i></a> <a href="https://calendly.com/bluebotpc/" aria-label="Calendly"><i class="fa-regular fa-calendar-check fa-2xl"></i></a> <a href="https://forms.gle/LBAdQnoguwRzCkNo8" aria-label="Submit a Ticket"><i class="fa-solid fa-file-contract fa-2xl"></i></a>
        <a href="https://nonbot.org/pledged/view/9aaaceaa-f3ee-40e4-b9f5-2bc95f91adc4" target="_blank"><img style="height:128px;margin-top:10px;margin-bottom:10px;" src="https://nonbot.org/images/nonbot_pledged_logo.svg" alt="Human-made Content"></a>
      </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    </footer>
  </body>
</html>
